@{ViewData["Title"] = "Delete";
}

@model Project

<h2>Confirm Deletion</h2>

<form method="post" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Table" class="btn btn-primary">Cancel</a>
    <input type="hidden" asp-for="ProjectId" />
</form>